.footer_container {
  width: 90vw;
  color: white;
  box-sizing: border-box;
  background-color: #172337;
  margin-top: 100px;
}
.main_container {
  background-color: #172337;
  display: flex;
  flex: 6;
  margin-left: 65px;
  width: 90% !important;
  padding-top: 40px;
  padding-bottom: 40px;
}
.first_container {
  flex: 1;
}
.second_container {
  flex: 1;
}
.third_container {
  flex: 1;
}
.forth_container {
  flex: 1;
}
.fifth_container {
  display: flex;
  flex: 2;
}
.fifth_one_container {
  flex: 1;
}
.fifth_one_in_container {
  border-left: 1px solid #454d5e;
  padding: 0 25px;
}
.fifth_second_container {
  flex: 1;
}
.title {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 9px;
}
.footer_container a {
  color: white;
  text-decoration: none;
  line-height: 2;
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 12px;
}
.footer_container a:hover {
  text-decoration: underline;
}
.bottom_footer_container {
  border-top: 1px solid #454d5e;
  padding: 25px 0;
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
